body {
  min-height: 500px;
  padding-top: 70px;
  background-color: #87CEFF;
}

.navbar {
  .navbar-inner {
    background-color: #ffffff;
    background-image: none;
  }
}
.navbar-default {
  background-color: #FF6B6B;
  border-color: #e7e7e7;
  font-size: 20px;
  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #C7F465;
  background-color: transparent;
}



.navbar-default .navbar-text {
  color: #C7F465;
}
.navbar-default .navbar-nav > li > a {
  color: #C7F465;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6B6B;
  background-color: #C7F465;
}

.navbar-default .navbar-brand {
  color: #C7F465;
  font-size: 32px;
}

#j1 {
padding: 30px;
margin-bottom: 30px;
color: inherit;
background-color: #84AF9B;
}

#j2 {
padding: 30px;
margin-bottom: 30px;
color: inherit;
background-color: #C7F465;
right: 0;
}

#j1-hr {	
color: #FFFFFF;
background-color: #FFFFFF;
height: 2px;
}

#j2-hr {	
color: #FFFFFF;
background-color: #FFFFFF;
height: 2px;
}

#j22-hr {	
color: transparent;
background-color: transparent;
height: 0.1px;
}

.navbar-fixed-bottom {
  background-color: transparent;
  border-color: transparent;
  font-size: 10px;
  max-height: 10px;
}

.navbar-fixed-bottom .navbar-text {
  color: #FF6B6B;
}

.navbar-fixed-bottom .navbar-nav > li > a {
  color: #FF6B6B;
}

.navbar-fixed-bottom .navbar-nav > li > a:hover,
.navbar-fixed-bottom .navbar-nav > li > a:focus {
  color: #AAAAFF;
  background-color: transparent;
}

.navbar-fixed-bottom .navbar-brand {
  color: #FF6B6B;
  background-color: #FFFFFF;
  font-size: 15px;
}

.navbar-fixed-bottom .navbar-brand:hover,
.navbar-fixed-bottom .navbar-brand:focus {
  color: #555555;
  background-color: #FF6B6B;
}

#j2-side {  
  background-color: transparent;
}

#href-id1{
  color: #FF6B6B;
  background-color: #C7F465;
  border-color: #C7F465;
  width: 100%;
  text-align: left;

}